<head><title> Log in </title></head>

<!doctype html>

<html lang="en">
  <head>
    <title>Development</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <title>Login</title>
  </head>
  <body>
    <div id="root"></div>

    <script type="text/babel">
class LoginForm extends React.Component {
  state = {
    username: '',
    password: ''
  };

  renderRedirect = () => {
    if (localStorage.Authorization) {
      return <Redirect to='/' />
    }
  }

  handle_change = e => {
    const name = e.target.name;
    const value = e.target.value;
    this.setState(prevstate => {
      const newState = { ...prevstate };
      newState[name] = value;
      return newState;
    });
  };

  handle_login = e => {
    e.preventDefault()
    fetch('/api-token-auth/', { method: 'POST', headers: { "Content-Type": "application/json" },
    body: JSON.stringify({username: this.state.username, password: this.state.password}),
    })
    .then(response => {
      if (response.status !== 200) {
        return this.setState({ placeholder: "Something went terribly wrong." });
      }
        return response.json();
      })
      .then(data => localStorage.setItem('Authorization', 'Token ' + data.token));
  
  }
  
  render() {
    return (
      <form onSubmit={this.handle_login}>
        <h4>Log In</h4>
        <label htmlFor="username">Username</label>
        <input
          type="text"
          name="username"
          value={this.state.username}
          onChange={this.handle_change}
        />
        <label htmlFor="password">Password</label>
        <input
          type="password"
          name="password"
          value={this.state.password}
          onChange={this.handle_change}
        />
        <input type="submit" />
      </form>
    );
  }
}

ReactDOM.render(<LoginForm />, document.getElementById('root'))
  
</script>
</body>
</html>
