<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Home</title>
  </head>
  <body>
    <div id="app"></div>
  </body>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'social/style.css' %}">

  <script src="{% static "frontend/main.js" %}"></script>
</html>