<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Home {% endblock %}</title>
    {% load static %}
    {% load tags %}
    {% block stylesheet %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'social/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      var postToken = '{{ csrf_token }}'
      var postEditToken = '{{ csrf_token }}'
      var commentToken = '{{ csrf_token }}'
      var commentEditToken = '{{ csrf_token }}'
      var profileChangeToken = '{{ csrf_token }}'
    </script>
  </head>
  
  
  
  <body>
    <main>
      <div style="display:none;" id="page">base</div>
      {% block content %}
      {% endblock %}
      
      <!-- here comes the beginning of post list -->
      <ul id="posts">
      <div style="display:none;" id="currentpost">{{ latest_post.pk }}</div>
      {% for post in latest_posts_list %}
      <li id="post{{ post.pk }}"><div class="main" id="post_text{{ post.pk }}">{{ post.post_text }}</div>
        {% if post.image %} <img src="{{ post.image.url }}" alt="post-image{{ post.pk }}">{% endif %}
        <div class="sub">Posted by <a href="{% url 'social:user' post.user.pk %}">{{ post.user.username }}</a> at {{ post.get_readable_date }}</div><br>
        
        <img class="main" alt="like" src="{% static 'icons/thumbs-up.svg' %}" onclick="like({{ post.pk }}, '{{ csrf_token }}')">
        <div id="total_likes{{ post.pk }}" class="like">{% total_likes post %}</div>
        
        <img class="main" alt="dislike" src="{% static 'icons/thumbs-down.svg' %}" onclick="dislike({{ post.pk }}, '{{ csrf_token }}')">
        <div id="total_dislikes{{ post.pk }}" class="dislike">{% total_dislikes post %}</div>
        
        {% if post.user == user %}
        
        <img class="main" src="{% static 'icons/pencil-alt.svg' %}" onclick="toggleVisibility('edit{{ post.pk }}');">
        <img class="main" alt="delete" src="{% static 'icons/trash-alt.svg' %}" onclick="toggleVisibility('delete{{ post.pk }}');">
        
        <span class="changenone" id="delete{{ post.pk }}"><strong class="stronger">Delete the post?</strong><button class="coolButton" onclick="deletePost({{ post.pk }})">Yes, delete it.</button></span>
        
        <span class="changenone" id="edit{{ post.pk }}">
          <form onsubmit="editPost({{ post.pk }})">
            <label for="edit-field">New text:</label>
            <input type="text" name="new_text" placeholder="Edit here" id="edit-field" maxlength="2500" minlength="1" value="{{ post.post_text }}" required="">
            {{ editform.id.as_hidden }}
            <input type="submit" value="Edit">
          </form>
        </span>
        {% endif %}
        
        <span class="extrapadding" id="comment_in_reply{{ post.pk }}">
          <form onsubmit="commentInReply({{ post.pk }})">
            {{ commentform }}
            <input type="submit" value="comment">
          </form>
        </span>
        
        
        
        <ul id="comment_section{{ post.pk }}">
          <div style="display:none;" id="currentcomment">{{ post.comment_set.all.last.pk }}</div>
          {% for comment in post.comment_set.all %}

          <li class="{% if comment.in_reply_to_comment %}inreply{% else %}comment{% endif %}" id="comment{{ comment.pk }}"><div class="comment" id="comment_text{{ comment.pk }}">{{ comment }}</div><img class="reply" alt="down" src="{% static 'icons/arrow-down.svg' %}" onclick="toggleVisibility('comment_in_reply{{ comment.pk }}');">
          
          {% if comment.posted_by == user %}
          <img class="reply" alt="delete" src="{% static 'icons/trash-alt.svg' %}" onclick="toggleVisibility('delete_comment{{ comment.pk }}');">
          <img class="reply" src="{% static 'icons/pencil-alt.svg' %}" onclick="toggleVisibility('edit_comment{{ comment.pk }}');">
          
          <span class="changenone" id="delete_comment{{ comment.pk }}"><strong class="stronger">Delete the comment? </strong><button class="coolButton" onclick="deleteComment({{ comment.pk }})">Yes, delete it.</button></span>
          
          <span class="changenone" id="edit_comment{{ comment.pk }}">
            <form onsubmit="editComment({{ comment.pk }})">
              <label for="edit-field">New text:</label>
              <input type="text" name="new_text" placeholder="Edit here" id="edit-field" maxlength="2500" minlength="1" value="{{ comment }}" required="">
              {{ editform.id.as_hidden }}
              <input type="submit" value="edit">
            </form>
          </span>
          
          {% endif %}          
          
          <span class="changenone" id="comment_in_reply{{ comment.pk }}">
            <form onsubmit="commentInReply({{ post.pk }}, {{ comment.pk }})">
              {{ commentform }}
              <input type="hidden" id="in_reply_to_user{{ comment.pk }}" value="{{ comment.posted_by.pk }}">
              <input type="hidden" id="in_reply_to_comment{{ comment.pk }}" value="{{ comment.pk }}">
              <input type="submit" value="reply">
            </form>
          </span>
          
          <div class="commentsub"> commented by <a href="{% url 'social:user' comment.posted_by.pk %}">{{ comment.posted_by }}</a>{% if comment.in_reply_to_comment %} in reply to <a href="{% url 'social:user' comment.in_reply_to_user %}">{{ comment.get_user }}</a>'s <a href="{% url 'social:showcomment' comment.in_reply_to_comment %}">comment</a> {% endif %}<br><small>Posted at  {{ comment.get_readable_date }}</small></div>
          </li>
          {% endfor %} <!-- end of the comment list -->
        </ul>
        
      {% endfor %} <!-- end of the post list -->
      
      </ul>
    </main>
  </body>
<script src="{% static 'social/basescript.js' %}"></script>
</html>




