<!doctype html>

<html lang="en">
  <head>
    <title>Development</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <title>React to-do list</title>
  </head>
  <body>
    <div id="root"></div>
    <script>function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}</script>
    <script type="text/babel">
    

class WritePostForm extends React.Component {
  constructor(){
    super()
    this.state = {
      value: '',
    }
    this.handleChange = this.handleChange.bind(this);
  }
  
  handleChange(event) {
    this.setState({value: event.target.value});
  }

  handleSubmit = event =>{
    event.preventDefault();
    const url ="/ajax/post/"
    const csrftoken = getCookie('csrftoken')
    const data = { 'post_text':this.state.value }
    fetch(url, { method: 'POST',
    body: JSON.stringify(data),
    headers: { 'Content-Type': 'application/json', 'X-CSRFToken': csrftoken  }
    })
    .then(response => {
      if (response.status !== 201) {
        console.log('something went terribly wrong'); 
      }
      else {
        console.log('success');
      }
    })
  }
  
  render() {
    return (
      <form onSubmit={this.handleSubmit}>
        <label>
          Write post:
          <input type="text" value={this.state.value} onChange={this.handleChange} />
        </label>
        <input type="submit" value="Submit" />
      </form>
    );
  }
}    




class WriteCommentForm extends React.Component {
  constructor(props){
    super(props);
    this.state = {
      value: '',
    }
    this.handleChange = this.handleChange.bind(this);
  }
  
  handleChange(event) {
    this.setState({value: event.target.value});
  }
  
  handleSubmit = event =>{
    event.preventDefault();
    const url ="/ajax/comment/"
    const csrftoken = getCookie('csrftoken')
    const data = { 'comment':this.state.value, 'post':this.props.id }
    if (this.props.in_reply_to_comment && this.props.in_reply_to_user){
      const data = { 'comment': this.state.value, 'post': this.props.id, 'in_reply_to_comment': this.props.in_reply_to_comment, 'in_reply_to_user': this.props.in_reply_to_user }
    }
    fetch(url, { method: 'POST',
    body: JSON.stringify(data),
    headers: { 'Content-Type': 'application/json', 'X-CSRFToken': csrftoken  }
    })
    .then(response => {
      if (response.status !== 201) {
        console.log('something went terribly wrong'); 
      }
      else {
        console.log('success');
      }	
    })
  }
  
  render() {
    return (
      <form onSubmit={this.handleSubmit}>
        <label>
          Comment:
          <input type="text" value={this.state.value} onChange={this.handleChange} />
        </label>
        <input type="submit" value="Submit" />
      </form>
    );
  }
}


function GetComments(props) {
  fetch('/ajax/retrievecomments/'+this.props.id+'/')
    .then(response => {
      if (response.status !== 200) {
        return "Something went terribly wrong.";
      }
      return response.json();
    })
    .then(data => { return data });
}



class App extends React.Component {
  constructor(){
    super()
    this.state = {
      posts: [],
      comments: []	,
      placeholder: 'No posts here!',
    };
    this.getPosts = this.getPosts.bind(this)
  }
  
  getPosts() {
    fetch('/ajax/retrieveposts/')
      .then(response => {
        if (response.status !== 200) {
          return this.setState({ placeholder: "Something went terribly wrong." });
        }
        return response.json();
      })
      .then(data => this.setState({ posts: data }));
  }
  
  componentDidMount(){
    this.getPosts();
  }
  
  render(){
    return (
    <div>
      <WritePostForm />
      <button onClick={this.getPosts}>View posts</button>
      {this.state.posts.map(post => 
        <div key={post.id} className="jumbotron">Post text: {post.post_text}
        <br /><img src={post.image} />
        <br />Posted by {post.user}
        <br />Posted on {post.pub_date}
        <WriteCommentForm id={post.id}/>
        <GetComments id={post.id} />
        <br /><br /><br /><br />
        </div>
      )}
    </div>)
  }
}

ReactDOM.render(<App />, document.getElementById('root'))

    </script>
  </body>
</html>
