<!doctype html>

<html lang="en">
  <head>
    <title>Development</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <title>React frontpage</title>
  </head>
  <body>
    <div id="root"></div>
    <script>
function getCookie() {
  const REGEXP = /([\w\.]+)\s*=\s*(?:"((?:\\"|[^"])*)"|(.*?))\s*(?:[;,]|$)/g;
  let cookies = {};
  let match;
  while( (match = REGEXP.exec(document.cookie)) !== null ) {
    let value = match[2] || match[3];
    cookies[match[1]] = decodeURIComponent(value);
  }
  return cookies;
}
</script>
    <script type="text/babel">
    

class WritePostForm extends React.Component {
  constructor(){
    super()
    this.state = {
      value: '',
    }
    this.handleChange = this.handleChange.bind(this);
  }
  
  handleChange(event) {
    this.setState({value: event.target.value});
  }

  handleSubmit = event =>{
    event.preventDefault();
    const url ="/ajax/post/"
    const authtoken = "Token " + localStorage.Authorization 
    const csrftoken = getCookie('csrftoken')
    const data = { 'post_text': this.state.value }
    fetch(url, { method: 'POST',
    body: JSON.stringify(data),
    headers: { 'Content-Type': 'application/json', 'X-CSRFToken': csrftoken, Authorization: authtoken}
    })
    .then(response => {
      if (response.status !== 201) {
        console.log('something went terribly wrong'); 
      }
      else {
        console.log('success');
      }
    })
  }
  
  render() {
    return (
      <form onSubmit={this.handleSubmit}>
        <label>
          Write post:
          <input type="text" value={this.state.value} onChange={this.handleChange} />
        </label>
        <input type="submit" value="Submit" />
      </form>
    );
  }
}    


class WriteCommentForm extends React.Component {
  constructor(props){
    super(props);
    this.state = {
      value: '',
    }
    this.handleChange = this.handleChange.bind(this);
  }
  
  handleChange(event) {
    this.setState({value: event.target.value});
  }
  
  handleSubmit = event =>{
    event.preventDefault();
    const url ="/ajax/comment/"
    const authtoken = "Token " + localStorage.Authorization 
    const csrftoken = getCookie('csrftoken')
    const data = { 'comment':this.state.value, 'post':this.props.id }
    if (this.props.in_reply_to_comment && this.props.in_reply_to_user){
      const data = { 'comment': this.state.value, 'post': this.props.id, 'in_reply_to_comment': this.props.in_reply_to_comment, 'in_reply_to_user': this.props.in_reply_to_user }
    }
    fetch(url, { method: 'POST',
    body: JSON.stringify(data),
    headers: { 'Content-Type': 'application/json', 'X-CSRFToken': csrftoken, Authorization: authtoken }
    })
    .then(response => {
      if (response.status !== 201) {
        console.log('something went terribly wrong'); 
      }
      else {
        console.log('success');
      }	
    })
  }
  
  render() {
    return (
      <form onSubmit={this.handleSubmit}>
        <label>
          Comment:
          <input type="text" value={this.state.value} onChange={this.handleChange} />
        </label>
        <input type="submit" value="Submit" />
      </form>
    );
  }
}


class Comments extends React.Component {
  constructor(props){
    super(props)
    this.state = {
      comments: [],
    };
    this.getComments = this.getComments.bind(this)
    this.getComments(this.props.post_id)
  }

  getComments(id) {
  fetch('/ajax/retrievecomments/'+id+'/',
    { headers: { 'Content-Type': 'application/json', Authorization: "Token " + localStorage.Authorization }
    })
    .then(response => {
      if (response.status !== 200) {
        console.log("Something went terribly wrong.")
      }
      return response.json()
      })
    .then(data => this.setState({comments: data}))
  }
  
  render() {
    return (
      <div>
      {this.state.comments.map(comment =>
        <div key={comment.id} className="jumbotron">Comment: {comment.comment}
        <br />Posted by {comment.posted_by}
        <br />Posted on {comment.post_date}
        <WriteCommentForm id={this.props.post_id} in_reply_to_comment={comment.in_reply_to_comment} in_reply_to_user={this.props.in_reply_to_user} />
        </div>
      )}
    </div>
    )
  }
}

class Posts extends React.Component {
  constructor(){
    super()
    this.state = {
      posts: [],
      userinfo: {user_id: undefined, username: undefined}
    };
    this.getPosts = this.getPosts.bind(this)
    this.getUser = this.getUser.bind(this)
    this.getPosts();
    this.getUser()
  }

  getPosts() {
  fetch('/ajax/retrieveposts/', {
    headers: { 'Content-Type': 'application/json', Authorization: "Token " + localStorage.Authorization }
    })
      .then(response => {
        if (response.status !== 200) {
          console.log("Something went terribly wrong.")
        }
        return response.json()
      })
      .then(data => this.setState({posts: data}))
  }

  getUser() {
    fetch('/ajax/getuser/', {
    headers: { 'Content-Type': 'application/json', Authorization: "Token " + localStorage.Authorization }
    })
    .then(response => {
      if (response.status !== 200) {
        console.log("Something went terribly wrong.")
      }
      return response.json()
      })
      .then(data => this.setState({username: data.username,user_id: data.user_id}))
  }

  render(){
    return (
    <div>
      <WritePostForm />
      {this.state.posts.map(post => 
        <div key={post.id} className="jumbotron">Post text: {post.post_text}
          <br /><img src={post.image} />
          <br />Posted by {post.user}
          <br />Posted on {post.pub_date}
          <br />
          <WriteCommentForm id={post.id}/>
          <Comments post_id={post.id}/>
        </div>
        )}
      <br /><br /><br /><br />
    </div>
    ) 
  }
}

class App extends React.Component {
  render(){
    return (
    <div>
      <Posts />
    </div>
    ) 
  }
}

ReactDOM.render(<App />, document.getElementById('root'))

    </script>
  </body>
</html>
